body {
  background-color: black;
}

.card__container {
  position: absolute;
  top: 50%;
  width: 50%;
  margin: auto 25%;
  color: white;
  background-color: blue;
}

.card__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
